---
import Container from "@components/ui/Container.astro";
import PricingCard from "./PricingCard.astro";

// Define props from Astro
const { pricing } = Astro.props;
---

<section class="py-10 lg:py-14" id="pricing">
  <Container>
    <!-- Section heading and sub-heading -->
    <div class="mx-auto mb-5 max-w-2xl text-center lg:mb-8">
      <h2
        class="text-2xl font-bold tracking-tight text-balance text-neutral-300 md:text-4xl md:leading-tight"
      >
        {pricing.title}
      </h2>
      <p class="mt-1 text-pretty text-neutral-500">
        {pricing.subTitle}
      </p>
    </div>
    <!-- Contains three main product blocks -->
    <div
      class="relative items-center justify-center gap-4 space-y-4 sm:space-y-0 lg:-mx-4 lg:flex lg:items-end lg:justify-center lg:space-x-[-20px]"
    >
      {
        pricing.products.map((product: any) => (
          <PricingCard product={product} />
        ))
      }
    </div>
    <!-- Call to action for Enterprise Solutions -->
    <!-- <div class="mt-8 flex items-center justify-center gap-x-3 md:mt-12">
      <p class="text-sm text-neutral-600">
        {pricing.thirdOption}
      </p>

      <SecondaryCTA title={pricing.btnText} url="#" />
    </div> -->
  </Container>
</section>
