---
import Icon from "@components/ui/icons/Icon.astro";

type Product = {
  type: "saas" | "heatworks" | "agency";
  name: string;
  description: string;
  price: string;
  cents: string;
  billingFrequency: string;
  features: string[];
  purchaseBtnTitle: string | null;
  purchaseLink: string | null;
  badge?: string;
};

const { product } = Astro.props as { product: Product };
---

<div
  class:list={[
    "relative w-full rounded-xl p-6 sm:p-8",
    product.type === "saas" &&
      "z-10 -mb-[20px] justify-self-end bg-gray-500 px-6 py-4 opacity-80 lg:mt-0 lg:-mb-[20px] lg:max-w-[300px]",
    product.type === "heatworks" &&
      "z-20 bg-gradient-to-tr from-[#FF512F] to-[#F09819] px-6 py-16 text-white shadow-xl shadow-black/40 lg:relative lg:mt-4 lg:mb-4 lg:scale-105",
    product.type === "agency" &&
      "z-10 -mt-[20px] justify-self-end bg-gray-500 px-6 py-4 opacity-80 lg:mt-0 lg:-mb-[20px] lg:max-w-[300px] lg:justify-self-start",
  ]}
>
  <div class="mb-4 flex flex-col items-start justify-between gap-4 lg:flex-row">
    <div>
      <h3
        class:list={[
          "pb-2 text-2xl leading-[1rem] font-bold sm:text-3xl",
          product.type === "saas" && "text-neutral-200",
          product.type === "heatworks" && "text-white",
          product.type === "agency" && "text-neutral-200",
        ]}
      >
        {product.name}
      </h3>
      <p
        class:list={[
          "",
          product.type === "saas" && "text-indigo-300",
          product.type === "heatworks" && "text-orange-200",
          product.type === "agency" && "text-indigo-300",
        ]}
      >
        {product.description}
      </p>
    </div>
    {
      product.badge && (
        <span class="bg-opacity-70 order-first inline-block rounded-full bg-orange-200/60 px-3 py-1 text-center text-xs font-bold tracking-wider text-orange-600 uppercase lg:order-none">
          {product.badge}
        </span>
      )
    }
  </div>

  <div class="mb-4">
    <span
      class:list={[
        "text-4xl font-bold",
        product.type === "saas" && "text-neutral-200",
        product.type === "heatworks" && "text-white",
        product.type === "agency" && "text-neutral-200",
      ]}
    >
      {product.price}
    </span>
    <span
      class:list={[
        "text-lg font-bold",
        product.type === "saas" && "text-neutral-300",
        product.type === "heatworks" && "text-orange-100",
        product.type === "agency" && "text-neutral-300",
      ]}
    >
      {product.cents}
    </span>
    <span
      class:list={[
        "text-sm",
        product.type === "saas" && "text-indigo-200",
        product.type === "heatworks" && "text-orange-200",
        product.type === "agency" && "text-indigo-200",
      ]}
    >
      {product.billingFrequency}
    </span>
  </div>
  <ul
    class:list={[
      "mb-6 space-y-2",
      product.type === "saas" && "text-neutral-300",
      product.type === "heatworks" && "text-orange-100",
      product.type === "agency" && "text-neutral-300",
    ]}
  >
    {
      product.features.map((feature: string) => (
        <li class="flex items-center gap-1.5">
          <Icon name="checkCircle" />
          <span>{feature}</span>
        </li>
      ))
    }
  </ul>

  {
    product.purchaseBtnTitle && (
      <a
        href={product.purchaseLink}
        class:list={[
          product.type === "heatworks" &&
            "bg-opacity-50 block rounded-lg bg-orange-200/40 px-8 py-3 text-center text-sm font-bold text-neutral-100 ring-orange-300 outline-hidden transition duration-300 hover:bg-orange-300 focus-visible:ring-3 active:bg-orange-400 md:text-base",
          product.type === "saas" && "",
          product.type === "agency" && "",
        ]}
      >
        {product.purchaseBtnTitle}
      </a>
    )
  }
</div>
