---
// Import the necessary dependencies
import { Image } from "astro:assets";
import IconBlock from "@components/ui/blocks/IconBlock.astro";
import Icon from "@components/ui/icons/Icon.astro";
import Container from "@components/ui/Container.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import HeatworksIcon from "@components/ui/icons/HeatworksIcon.astro";
import wormMan from "@assets/images/heatworks/worm-man.png";
import soilGrainOverlay from "@assets/images/heatworks/soil-grain-overlay.webp";

interface Feature {
  heading: string;
  content: string;
  svg: string;
  link?: string;
  linkText?: string;
}

interface Props {
  title?: string;
  subTitle?: string;
  features?: Feature[];
  src?: any;
  alt?: string;
  imageClass?: string;
}
// Define props from Astro
const { title, subTitle, src, alt, features, imageClass } = Astro.props;
---

<section id="features">
  <Container class="py-4 lg:py-8">
    <!-- Block to display the feature image -->
    <div class="relative mb-6 overflow-hidden md:mb-8">
      {
        src && alt && (
          <Image
            src={src}
            alt={alt}
            class={`h-full w-full object-cover object-center ${imageClass ? ` ${imageClass}` : ""}`}
            draggable={"false"}
            format={"avif"}
            loading={"eager"}
          />
        )
      }
    </div>
    <div class="-mb-[65px] ml-[50px] flex justify-end">
      <Image
        src={wormMan}
        alt="Worm Man"
        width={100}
        height={100}
        format={"webp"}
        loading={"eager"}
        class="z-10"
      />
    </div>

    <!-- Displaying the main content consisting of title, subtitle, and several `IconBlock` components -->
    <div
      class="relative grid gap-8 rounded-xl border border-neutral-900 bg-[#1d1a18] bg-repeat p-16 bg-blend-soft-light shadow-2xl shadow-black/70 lg:grid-cols-3 lg:gap-12"
      style={{ backgroundImage: `url(${soilGrainOverlay.src})` }}
    >
      {/* Gradient overlay */}
      <div
        class="pointer-events-none absolute inset-0 z-0 rounded-xl bg-gradient-to-tl from-[#16100a] to-transparent opacity-20 mix-blend-overlay"
      >
      </div>
      <div class="relative z-10 lg:col-span-1">
        <!-- Rendering title -->
        <div class="mx-auto mb-2">
          <HeatworksIcon />
        </div>
        <h2
          class="text-2xl font-bold text-balance text-neutral-300 md:text-3xl"
        >
          {title}
        </h2>
        <!-- Rendering subtitle -->
        {
          subTitle && (
            <p class="mt-2 text-[14px] text-pretty text-neutral-500 md:mt-4">
              {subTitle}
            </p>
          )
        }
      </div>

      <!-- Block to display the IconBlock components -->
      <div class="relative z-10 lg:col-span-2">
        <div class="grid gap-8 sm:grid-cols-2 md:gap-12">
          <!-- Injecting IconBlock components with different properties -->
          {
            features &&
              features.map((feature) => (
                <IconBlock
                  heading={feature.heading}
                  content={feature.content}
                  link={feature.link}
                  linkText={feature.linkText}
                >
                  <Icon name={feature.svg} />
                </IconBlock>
              ))
          }
        </div>
      </div>

      <div class="relative z-10 flex justify-end lg:col-span-3">
        <PrimaryCTA title="Start Audit" url="/audit" />
      </div>
    </div>
  </Container>
</section>
