---
const {
  quoteTextOne = "Built for landscapers",
  quoteTextTwo = "who hate guessing.",
  containerClasses = "flex h-screen w-full items-center overflow-hidden bg-slate-950",
  textClasses = "text-center font-bold uppercase whitespace-nowrap",
} = Astro.props;
---

<div id="text-container" class={containerClasses}>
  <div
    class="text-lines-container flex w-full flex-col items-center justify-center"
  >
    <div class="container-fill-text">
      <span class={`container-fill-text__display ${textClasses}`}
        >{quoteTextOne}</span
      >
    </div>
    <div class="container-fill-text">
      <span class={`container-fill-text__display ${textClasses}`}
        >{quoteTextTwo}</span
      >
    </div>
  </div>
</div>

<style is:global>
  .container-fill-text {
    position: relative;
    white-space: nowrap;
    width: 100%;
    container-type: inline-size;
    container-name: text-fit;
  }

  .container-fill-text__display {
    font-size: clamp(1rem, calc(7.8cqw), 2500px);
  }

  .container-fill-text__reference {
    display: none;
  }
</style>
