---
// Import necessary modules and utilities
import { Image } from "astro:assets";
import { formatDate } from "@utils/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  blogEntry: CollectionEntry<"blog">;
}

const { blogEntry } = Astro.props;
---

<a
  href={`/blog/${blogEntry.id}/`}
  class="group relative block h-full rounded-2xl bg-white bg-zinc-900 transition-all duration-300 hover:-translate-y-1"
>
  <div class="p-4">
    <Image
      class="aspect-video rounded-xl"
      src={blogEntry.data.cardImage}
      alt={blogEntry.data.cardImageAlt}
      draggable={"false"}
      format={"avif"}
    />
    <!-- The title of the blog post -->
    <h3
      class="mt-2 text-lg font-medium text-balance text-neutral-800 group-hover:text-neutral-50 group-hover:text-orange-400"
    >
      {blogEntry.data.title}
    </h3>
    <!-- The formatted publication date of the blog post -->
    <p class="mt-2 text-sm text-neutral-600">
      {formatDate(blogEntry.data.pubDate)}
    </p>
  </div>
</a>
