---
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import FooterSocialLink from "@components/ui/links/FooterSocialLink.astro";
import Icon from "@components/ui/icons/Icon.astro";
import { SITE } from "@data/constants";
import navigation from "@utils/navigation";
import { Image } from "astro:assets";
import heatworksLogo from "@content/heatworks-demo/HEATWORKS-logo.png";

const year = new Date().getFullYear();
---

<footer
  class="relative z-101 w-full border-t border-neutral-800 bg-neutral-300"
>
  <div
    class="mx-auto w-full max-w-[85rem] px-4 py-10 sm:px-6 lg:px-16 2xl:max-w-(--breakpoint-2xl)"
  >
    <div
      class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-2 lg:items-start"
    >
      <!-- Left Column: Navigation Links -->
      <div>
        <a href="/" aria-label="Brand">
          <Image
            class="mb-4 h-auto w-24"
            src={heatworksLogo}
            alt="Heatworks Logo"
            width={96}
            height={24}
            loading="lazy"
            decoding="async"
          />
        </a>
        <ul class="grid grid-cols-1 gap-y-4">
          {
            navigation.landingPageLinks.map((link) => (
              <li>
                <a
                  href={link.url}
                  class="inline-flex gap-x-2 rounded-lg text-neutral-400 ring-zinc-500 outline-hidden transition duration-300 hover:text-neutral-200 focus-visible:ring-3"
                >
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Right Column: Spotlight CTA Card -->
      <div
        class="relative rounded-xl border border-yellow-100/40 bg-yellow-50/60 p-6 backdrop-blur-md lg:ml-auto lg:max-w-md lg:p-8"
      >
        <h3
          class="text-2xl font-bold text-neutral-800 md:text-3xl md:leading-tight"
        >
          Ready to Optimize? Get a Free Audit.
        </h3>
        <p class="mt-2 text-sm text-neutral-600">
          Unlock the full potential of your operations with a comprehensive,
          no-obligation audit.
        </p>
        <PrimaryCTA
          title="Start Audit"
          url="/audit"
          class="mt-6 transform transition hover:scale-105"
        />
      </div>
    </div>

    <hr class="my-10 border-neutral-700" />

    <!-- Bottom Bar: Copyright and Socials -->
    <div class="flex flex-col items-center justify-between gap-y-4 sm:flex-row">
      <p class="text-sm text-neutral-600">
        © {year}
        {SITE.title}. All rights reserved.
      </p>
      <div class="flex gap-x-4">
        <FooterSocialLink url={navigation.socialLinks.x}>
          <Icon name="xFooter" />
        </FooterSocialLink>
        <FooterSocialLink url={navigation.socialLinks.linkedin}>
          <Icon name="linkedinFooter" />
        </FooterSocialLink>
      </div>
    </div>
  </div>
</footer>
